html {
	overflow-y: scroll;
	background-color: var(--color-bg);
	color: var(--color-text-primary);
	font-size: 15px;
}

:root {
	--color-bg: #1c1c2b;
	--color-bg-alt: #24273a;

	--color-text-main: #cad3f5;
	--color-text-primary: #b8c0e0;
	--color-text-muted: #939ab7;
	--color-text-hover: #f5f7ff;
	--color-text-italic: #c6a0f6;

	--color-border: #4a4f69;

	--color-loading: #cad3f5;

	--color-brand-github: #e6edf3;
	--color-brand-twitter: #1d9bf0;
	--color-brand-linkedin: #0a66c2;
	--color-brand-telegram: #2aabee;
	--color-brand-chess: #ffffff;
	--color-brand-bluesky: #0085ff;
}

html[data-theme="light"] {
	--color-bg: #fff8f8;
	--color-bg-alt: #f8efef;

	--color-text-main: #4f3d46;
	--color-text-primary: #66515b;
	--color-text-muted: #a08c95;
	--color-text-hover: #3f3138;
	--color-text-italic: #b06a8c;

	--color-border: #ead7de;

	--color-tech-stack: #9f8792;
	--color-tech-stack-span: #5d4953;
	--color-loading: #4f3d46;

	--color-brand-github: #181717;
	--color-brand-twitter: #1da1f2;
	--color-brand-linkedin: #0a66c2;
	--color-brand-telegram: #229ed9;
	--color-brand-discord: #5865f2;
	--color-brand-chess: #555555;
	--color-brand-bluesky: #1185fe;
}

body {
	margin: 0;
	min-height: 100svh;
	overflow-x: hidden;
	background-color: var(--color-bg);
	color: var(--color-text-primary);
	font-family: "Source Code Pro" !important;
	font-weight: 100;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

a {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

@media (max-width: 768px) {
	html {
		font-size: 12.5px;
	}
}

p a,
li a {
	color: var(--color-text-main);
	text-decoration: none;
	border-bottom: 1px solid rgba(196, 149, 255, 0.3);
	padding-bottom: 1px;
	transition:
	border-bottom-color 0.25s ease,
	opacity 0.25s ease;
}

p a:hover,
li a:hover {
	opacity: 0.85;
	border-bottom-color: var(--color-text-main);
}
